<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SampleApp</title>
    <link rel="stylesheets" href=404.css>
  </head>
  <div class="main">
    <div class="error-message">
      <div class="box2">
        <h1>お探しのページは見つかりませんでした</h1>
        <div class="error">4 0 4</div>
        <p>ご指定のURLを再度ご確認ください</p>
      </div>
    </div>
    <div class="error-massage-url">
      <p>トップページへは<a href="/">こちら</a>から戻れます</p>
    </div>
  </div>
</html>
